###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

productToken=

projectName=test

wss.url=https://app-eu.whitesourcesoftware.com/agent

###########
# General #
###########
generateScanReport=true
checkPolicies=true
forceCheckAllDependencies=true

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
ignoreSourceFiles=true
includes=**

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true

##############
# SCAN MODES #
##############

resolveAllDependencies=false

npm.resolveDependencies=false
npm.yarnProject=false

go.resolveDependencies=false
nuget.resolveDependencies=true


go.collectDependenciesAtRuntime=false